h1 {
  font-weight: bold;
  text-align: center;
  color: #ffee00;
  overflow-y: hidden;
  background-image: linear-gradient(rgb(226, 198, 43), rgb(255, 0, 98));
}
main {
  flex-direction: row;
  flex-wrap: wrap;
}
h2 {
    color: #ad1272;
    font-style: italic;
    text-transform: uppercase;
    overflow-y: hidden;
    transition: all 1s;
  
    &:hover {
      transform: scale(1, 1.1);
    }
  }
  .col-lg-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
  }
  p {
    word-spacing: 7px;
    line-height: 1.2;
    font-size: 1.2rem;
    width: 100%;
    color: #f80303;
    overflow-y: hidden;
  }
  h3 {
    color: #8b214d;
    overflow-y: hidden;
  }
  ol {
    word-spacing: 10px;
    line-height: 1.2;
    font-size: 1.2rem;
    list-style: none;
  }
  
  .ul1 {
    font-size: 1.2rem;
    padding: 10px;
  }
  .ul1 li {
    color: #581845;
    text-transform: uppercase;
  }
  li {
    color: #ff0404;
    width: 100%;
    margin-left: 15px;
  }
  
  h4 {
    font-style: italic;
    color: #581845;
    font-weight: bold;
  }
  .ul2 li {
    text-align: center;
    background-color: #daf7a6;
  
    a {
      color: black;
      padding-top: 10px;
      padding-bottom: 15px;
    }
  }  
  .ul3 li {
    text-align: center;
    background-color: #daf7a6;
  
    a {
      color: black;
      text-decoration: none;
    }
  }
  .box {
    border: gray double 2px;
    margin: 10px;
  
    &:hover {
      border: solid white 4px;
    }
  }
  .btn {
    transition: all 0.5s;
  
    &:hover {
      transform: scale(1.2, 1.3);
    }
  }
  .pros {
    width: 260px;
    height: 250px;
  }
  .mail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
  }
  
  h5 {
    overflow-y: hidden;
    text-transform: uppercase;
  }
       