$color1:#c70039;
$colornegro:#000000;
$bgcolmenu:#FFC300;
$bgcolwhite:white;
$colorh1:#ffee00;
$colorh2: #ad1272;
$colorparr:#f80303;
$colorh3:#8b214d;
$colorli:#ff0404;
$colorh4:#581845;
$colul3li:#daf7a6;